/* Global */
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5) !important;
}

/* Custom */
a.a-link {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  text-decoration: none;
  transition: ease 0.3s;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  width: fit-content;
}

a.a-link-dark {
  color: black;
  display: block;
  text-decoration: none;
  transition: ease 0.3s;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
  width: fit-content;
}

a.a-link:hover {
  color: gold;
  border-bottom: 1px solid gold;
}

a.a-link-dark:hover {
  border-bottom: 1px solid black;
}

a.a-link-block div {
  border: 1px solid transparent;
  height: 100%;
}

a.a-link-block-dark div {
  border: 1px solid transparent;
  height: 100%;
  background-color: #353535 !important;
  color: gold !important;
}

a.a-link-block:hover div {
  background-color: #353535 !important;
  color: gold !important;
  border: 1px solid gold !important;
  transition: ease 0.3s;
}

a.a-link-block-dark:hover div {
  background-color: whitesmoke !important;
  color: black !important;
  border: 1px solid black !important;
  transition: ease 0.3s;
}

.bg-dark-secondary {
  background-color: #353535 !important;
}

.bg-body-dark {
  background-color: #202020 !important;
}

.bg-gold {
  background: gold !important;
}

.text-gold {
  color: gold !important;
}

/* Bootstrap Overrides */
.active {
  color: gold !important;
  border-bottom: 1px solid gold !important;
}

.bg-dark {
  background-color: #252525 !important;
}

.btn-warning {
  background-color: gold !important;
}

.btn-dark:hover,
.btn-warning:hover {
  background: whitesmoke !important;
  border: 1px solid black;
  color: black !important;
}

.container-fluid {
  padding: 0 !important;
}

input[type=text].form-control,
input[type=password].form-control {
  background-color: #353535 !important;
  color: white !important;
  border: gold !important;
  box-shadow: none !important;
  outline: none !important;
}

.nav-link:hover {
  color: gold !important;
  border-bottom: 1px solid gold !important;
}

/* Header > nav > button-toggler */
#btn-toggle {
  border: none !important;
}

#btn-toggle:focus {
  box-shadow: none !important;
}

.bi-x {
  display: none;
}

.on .bi-x {
  display: block;
}

.on .bi-list {
  display: none;
}

/* index > cover section */
#cover-container {
  background: gold;
  min-height: 200px;
}

.cover-entry {
  color: black;
  min-height: 400px;
  align-items: center;
  padding: 50px 0;
}

.cover-img {
  max-height: 500px;
}

/* main */
.main-entry {
  min-height: 75vh;
  color: white;
  padding: 50px 0;
}
.main-entry details {
  color: gold;
  padding: 20px;
  margin: 10px;
}
.main-entry details content {
  color: white;
}
.main-entry .category-wrapper {
  min-width: 33%;
  max-width: 33%;
}
.main-entry .category-wrapper.removeMaxW {
  max-width: none;
}
.main-entry .news-img-wrapper {
  min-width: 280px;
  display: flex;
  align-items: center;
}
.main-entry .news-img-wrapper #img-placeholder {
  max-height: 200px;
}

/* index > activities section */
.date-block {
  min-width: 100px;
  min-height: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #353535;
  color: gold;
}

/* index > footer section */
footer {
  min-height: 50vh;
}

#footer-logo {
  max-width: 300px !important;
}

/*# sourceMappingURL=main.css.map */
