*, ::before, ::after {
  box-sizing: border-box;
}

html {
  min-width: 320px;
}

/* Custom */

a.a-link {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  text-decoration: none;
  transition: ease .3s;
  padding: 5px 0;
  border-bottom: 1px solid transparent;
}

a.a-link:hover {
  color: gold;
  border-bottom: 1px solid gold;
}

/* Bootstrap Overrides */

.active {
  color: gold !important;
  border-bottom: 1px solid gold !important;
}

.bg-dark {
  background-color: #252525 !important;
}

.bg-body-dark {
  background-color: #202020 !important;
}

.bg-gold {
  background: gold !important;
}

.btn-dark:hover {
  background: whitesmoke;
  color: black !important;
}

.container-fluid {
  padding: 0 !important;
}

.nav-link:hover {
  color: gold !important;
  border-bottom: 1px solid gold !important;
}

/* Header > nav > button-toggler */

#btn-toggle {
  border: none !important;
}

#btn-toggle:focus {
  box-shadow: none !important;
}

.bi-x {
  display: none;
}

.on .bi-x {
  display: block;
}

.on .bi-list {
  display: none;
}

/* index > cover section */

#cover-container {
  background: gold;
  min-height: 200px;
}

#cover-entry {
  color: black;
  min-height: 400px;
  align-items: center;
  padding: 50px 0;
}

#cover-img {
  max-height: 500px;
}

/* index > footer section */

footer {
  min-height: 50vh;
}

#footer-logo {
  max-width: 300px !important;
}